@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form asp-action="Privacy">
    <input type="hidden" asp-page="Privacy" name="qq" value="a">
</form>
<hr /><pre>
@Html.Raw(Model.RequestBody)
</pre><hr />

